In [1]:
import pandas as pd

In [2]:
df=pd.read_csv("Dataset/house.csv")

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
print(df['area_type'].isnull().any())
print(df['availability'].isnull().any())
print(df['location'].isnull().any())
print(df['size'].isnull().any())
print(df['society'].isnull().any())
print(df['total_sqft'].isnull().any())
print(df['balcony'].isnull().any())
print(df['price'].isnull().any())
print(df['bath'].isnull().any())

False
False
True
True
True
False
True
False
True

In [5]:
df['location']=df['location'].fillna(df['location'].mode()[0])
df['size']=df['size'].fillna(df['size'].mode()[0])
df['society']=df['society'].fillna(df['society'].mode()[0])
df['balcony']=df['balcony'].fillna(df['balcony'].mode()[0])
df['bath']=df['bath'].fillna(df['bath'].mode()[0])

In [6]:
locations=df['location'].unique()

In [7]:
df.drop(columns=['society'],axis=1,inplace=True)

In [8]:
df

,area_type,availability,location,size,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,3600,5.0,2.0,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,550,1.0,1.0,17.00

In [9]:
def sizing(text):
    t1=text[0]
    t2=text[1]
    lst=['0','1','2','3','4','5','6','7','8','9']
    if t2 in lst:
        return t1+t2
    else:
        return t1

In [10]:
df['size']=df['size'].apply(sizing)

In [11]:
def make_availability(text):
    if (text!="Ready To Move") and (text!="Immediate Possession"):
        return "Need To Deliver"
    else:
        return text

In [12]:
df['availability']=df['availability'].apply(make_availability)

In [13]:
df=pd.get_dummies(df,columns=['availability','area_type'],drop_first=True)

In [14]:
df

,location,size,total_sqft,bath,balcony,price,availability_Need To Deliver,availability_Ready To Move,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,Electronic City Phase II,2,1056,2.0,1.0,39.07,1,0,0,0,1
1,Chikka Tirupathi,4,2600,5.0,3.0,120.00,0,1,0,1,0
2,Uttarahalli,3,1440,2.0,3.0,62.00,0,1,0,0,0
3,Lingadheeranahalli,3,1521,3.0,1.0,95.00,0,1,0,0,1
4,Kothanur,2,1200,2.0,1.0,51.00,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
13315,Whitefield,5,3453,4.0,0.0,231.00,0,1,0,0,0
13316,Richards Town,4,3600,5.0,2.0,400.00,0,1,0,0,1
13317,Raja Rajeshwari Nagar,2,1141,2.0,1.0,60.00,0,1,0,0,0
13318,Padmanabhanagar,4,4689,4.0,1.0,488.00,1,0,0,0,1
13319,Doddathoguru,1,550,1.0,1.0,17.00,0,1,0,0,1

In [15]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['location']=le.fit_transform(df['location'])

In [16]:
df

,location,size,total_sqft,bath,balcony,price,availability_Need To Deliver,availability_Ready To Move,area_type_Carpet Area,area_type_Plot Area,area_type_Super built-up Area
0,419,2,1056,2.0,1.0,39.07,1,0,0,0,1
1,317,4,2600,5.0,3.0,120.00,0,1,0,1,0
2,1179,3,1440,2.0,3.0,62.00,0,1,0,0,0
3,757,3,1521,3.0,1.0,95.00,0,1,0,0,1
4,716,2,1200,2.0,1.0,51.00,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
13315,1252,5,3453,4.0,0.0,231.00,0,1,0,0,0
13316,1004,4,3600,5.0,2.0,400.00,0,1,0,0,1
13317,972,2,1141,2.0,1.0,60.00,0,1,0,0,0
13318,907,4,4689,4.0,1.0,488.00,1,0,0,0,1
13319,396,1,550,1.0,1.0,17.00,0,1,0,0,1

In [17]:
def make_sqrft(text):
    if "-" in text:
        x=text.split("-")
        text=(float(x[0])+float(x[1]))/2
    elif "Sq. Meter" in text:
        text=text.replace("Sq. Meter","")
        text=float(text)*10.7639
    elif "Perch" in text:
        text=text.replace("Perch","")
        text=float(text)*272.25
    elif "Sq. Yards" in text:
        text=text.replace("Sq. Yards","")
        text=float(text)*9
    elif "Acres" in text:
        text=text.replace("Acres","")
        text=float(text)*43560
    elif "Cents" in text:
        text=text.replace("Cents","")
        text=float(text)*435.6
    elif "Guntha" in text:
        text=text.replace("Guntha","")
        text=float(text)*1089
    elif "Grounds" in text:
        text=text.replace("Grounds","")
        text=float(text)*2400
    
    return text

In [18]:
df['total_sqft']=df['total_sqft'].apply(make_sqrft)

In [19]:
location_labels=df['location'].unique()

In [20]:
X=df.iloc[:,[0,1,2,3,4,6,7,8,9,10]]
y=df.iloc[:,[5]]

In [21]:
from sklearn.neighbors import KNeighborsRegressor
model=KNeighborsRegressor(n_neighbors=8)
model.fit(X,y)

KNeighborsRegressor(n_neighbors=8)

In [22]:
model.predict([[716,2,1200,2.0,1.0,0,1,0,0,1]])

array([[54.16375]])

In [23]:
import pickle
file=open("Model/prediction.pkl","wb")
pickle.dump(model,file)
file.close()

In [24]:
import pickle
file=open("Model/prediction.pkl","rb")
model=pickle.load(file)
file.close()

In [25]:
model.predict([[716,2,1200,2.0,1.0,0,1,0,0,1]])

array([[54.16375]])

In [26]:
lst=[locations,location_labels]

In [27]:
import pickle
lt=open("Model/Locations.pkl","wb")
pickle.dump(lst,lt)
file.close()